---
import { db, Users } from "astro:db";

import "../styles/global.css";
import AuthLayout from "@/layouts/AuthLayout.astro";
import { Image } from "astro:assets";

const user = await db.select().from(Users);
---

<AuthLayout>
  <h1 class="text-3xl font-bold underline">Astro</h1>
  <div>
    {
      user.map((use) => (
        <div>
          <Image
            src={`/public/uploads/${use.image}`}
            alt={use.email}
            width={250}
            height={250}
          />
          <article>{use.id}</article>
          <article>{use.email}</article>
          <article>{use.password_hash}</article>
        </div>
      ))
    }
  </div>
</AuthLayout>
